<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Petrolink Challenge</title>


    <!-- CSS files -->
    <link rel="stylesheet" href="app/vendor/css/normalize.css">
    <link rel="stylesheet" href="app/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="app/css/tooltip.css">
    <link rel="stylesheet" href="app/css/main.css">

    <!-- JS files -->
    <script src="socket.io/socket.io.js"></script>
    <script src="app/vendor/js/angular.js"></script>
    <script src="app/vendor/js/lodash.js"></script>
    <script src="app/vendor/js/moment.js"></script>

    <!-- angular app -->
    <script src="app/app.js"></script>

    <!-- lib files -->
    <script src="app/lib/common/color.js"></script>
    <script src="app/lib/common/scale.js"></script>
    <script src="app/lib/common/datetimescale.js"></script>
    <script src="app/lib/common/linearscale.js"></script>
    <script src="app/lib/common/vector3.js"></script>
    <script src="app/lib/common/vector2.js"></script>
    <script src="app/lib/common/matrix3.js"></script>
    <script src="app/lib/rendering/transformation.js"></script>
    <script src="app/lib/graph/component.js"></script>
    <script src="app/lib/common/rectangle.js"></script>
    <script src="app/lib/common/ellipse.js"></script>
    <script src="app/lib/common/square.js"></script>
    <script src="app/lib/graph/grid.js"></script>
    <script src="app/lib/graph/graphline.js"></script>
    <script src="app/lib/graph/zoompan.js"></script>
    <script src="app/lib/graph/axis.js"></script>
    <script src="app/lib/rendering/canvasrenderingcontext.js"></script>
    <script src="app/lib/rendering/camera.js"></script>
    <script src="app/lib/common/hyperpoint.js"></script>
    <script src="app/lib/common/hyperrectangle.js"></script>
    <script src="app/lib/common/kdtree.js"></script>
    <script src="app/lib/graph/tooltip.js"></script>
    <script src="app/lib/rendering/renderer.js"></script>
    <script src="app/lib/graph/graph.js"></script>

    <!-- controllers -->
    <script src="app/controllers/maincontroller.js"></script>
    <script src="app/services/mainservice.js"></script>


</head>
<body ng-app="app">
<div class="container-fluid" ng-controller="MainController">
    <div class="row">
        <div class="col-sm-2"></div>
        <!-- graph -->
        <div class="col-sm-8">
            <div class="row">
                <div class="graph-panel panel panel-primary">
                    <div class="panel-heading">
                        Data
                    </div>
                    <div class="panel-body container-fluid">
                        <!-- offline panel -->
                        <div class="row" ng-if="!isConnected">
                            <div class="col-sm-12">
                                <div class="container-fluid">
                                    <div class="alert alert-danger" ng-if="showErrorMessage">
                                        <span>{{ errorMessage }}</span>
                                    </div>
                                    <div class="jumbotron">
                                        <button type="button" class="btn btn-lg btn-default center-block" ng-click="connect()">
                                            <span class="glyphicon glyphicon-off"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- #offline panel -->
                        <!-- graph -->
                        <div class="row" ng-if="isConnected">

                            <div class="col-sm-9">
                                <div class="container graph-container">
                                    <canvas id="chart-canvas"></canvas>
                                </div>
                            </div>

                            <!-- toolbar -->
                            <div class="col-sm-3">
                                <div class=="row">
                                    <div class="btn-group btn-group-sm graph-toolbar center-block">
                                        <!-- stream control buttons -->
                                        <button type="button" class="btn btn-default" ng-if="isResumeButtonVisible"
                                                ng-click="resume()">
                                            <span class="glyphicon glyphicon-play"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-if="isPauseButtonVisible"
                                                ng-click="pause()">
                                            <span class="glyphicon glyphicon-pause"></span>
                                        </button>
                                        <!-- #stream control buttons -->
                                        <!-- zoom control buttons -->
                                        <button type="button" class="btn btn-default" ng-click="zoomOut($event)">
                                            <span class="glyphicon glyphicon-zoom-out"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="zoomReset($event)">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="zoomIn($event)">
                                            <span class="glyphicon glyphicon-zoom-in"></span>
                                        </button>
                                        <!-- #zoom control buttons -->
                                        <button type="button" class="btn btn-default" ng-click="autoScale()">
                                            <span class="glyphicon glyphicon-sound-stereo"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- #toolbar -->
                        </div>
                        <!-- #graph -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
</body>
</html>
