body {
    background-color: #eee;
}


.graph-container {
    position: relative;
    width: 100%;
    height: 400px;
}

.graph-panel {
    margin-top: 10%;
}

.graph-toolbar {
    margin-top: 4px;
}


#graph-canvas {}
